<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="vista-ddi.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">DDI</span>
      <span class="navbar-brand mb-0 h1">{{ nombreUserSecion }}</span>
      <a class="nav-link" href="#">Cerrar Secion <span class="sr-only">(current)</span></a>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <button class="nav-link active" (click)="mostrarCeco()">
                  <span data-feather="home"></span>
                  Centros de Costo <span class="sr-only">(current)</span>
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="mostrarPrestador()">
                  <span data-feather="shopping-cart"></span>
                  Prestadores de Servicios
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="mostrarBoleta()">
                  <span data-feather="users"></span>
                  Gestion de Boletas
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="mostrarRechazada()">
                  <span data-feather="users"></span>
                  Boletas Rechazadas
                </button>
              </li>
            </ul>
          </div>
        </nav>
        
        <nav class="col-md-3 col-lg-10 d-md-block sidebar collapse">
          <div id="divCeCo" >
            <h1>Agregar Centro de Costo</h1>
            <div class="card">
                <form>
                    <div class="form-group">
                        <label >Numero Centro de Costo</label>
                        <input type="text" [(ngModel)]="num_CeCo" [ngModelOptions]="{standalone: true}" class="form-control" id="ceconum" name="ceconum">
                    </div>

                    <div class="form-group">
                      <label >Nombre Centro de Costo</label>
                      <input type="text" [(ngModel)]="nombre_CeCo" [ngModelOptions]="{standalone: true}" class="form-control" id="ceconom" name="ceconom">
                    </div>

                    <div class="form-group">
                      <label >Fecha de Inicio</label>
                      <input type="text" [(ngModel)]="fecha_inicio" [ngModelOptions]="{standalone: true}" class="form-control" id="cecofechaI" name="cecofechaI">
                    </div>

                    <div class="form-group">
                      <label >Fecha de Termino</label>
                      <input type="text" [(ngModel)]="fecha_fin" [ngModelOptions]="{standalone: true}" class="form-control" id="ceconum" name="ceconum">
                    </div>
    
                    <button type="submit" class="btn btn-primary mt-4" (click)="saveRecordsCeCo()">Guardar</button> &nbsp;
    
                    <button type="submit" class="btn btn-warning mt-4"  (click)="UpdateRecordsCeCo()">Modificar</button>
    
                </form>
            </div>
          </div>
    
          <div id="divCeCo2">
            <div>
                <h1>Lista de Centros de Costos</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Numero</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de Inicio</th>
                            <th scope="col">Fecha de Fin</th>

                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let CeCoItem of CeCoArray">
    
                            <td>{{CeCoItem.num_CeCo}}</td>
                            <td>{{CeCoItem.nombre_CeCo}}</td>
                            <td>{{CeCoItem.fecha_inicio}}</td>
                            <td>{{CeCoItem.fecha_fin}}</td>
    
                            <td>
                                <button type="button" class="btn btn-success" (click)="setUpdateCeCo(CeCoItem)">Editar</button>
    
                                <button type="button" class="btn btn-danger" (click)="setDeleteCeCo(CeCoItem)">Borrar</button>
    
                            </td>
                        </tr>
                    </tbody>
    
                </table>
            </div>
          </div>

          <div id="divPrestador" >
            <h1>Agregar Prestadores de Servicios</h1>
            <div class="card">
                <form>
                    <div class="form-group">
                        <label >Rut</label>
                        <input type="text" [(ngModel)]="rutPrestador" [ngModelOptions]="{standalone: true}" class="form-control" id="rutPrestador" name="rutPrestador">
                    </div>

                    <div class="form-group">
                      <label >DV</label>
                      <input type="text" [(ngModel)]="DVPrestador" [ngModelOptions]="{standalone: true}" class="form-control" id="DVPrestador" name="DVPrestador">
                    </div>

                    <div class="form-group">
                      <label >Nombre</label>
                      <input type="text" [(ngModel)]="nombrePrestador" [ngModelOptions]="{standalone: true}" class="form-control" id="nombrePrestador" name="nombrePrestador">
                    </div>

                    <div class="form-group">
                      <label >Primer Apellido</label>
                      <input type="text" [(ngModel)]="apellido1Prestador" [ngModelOptions]="{standalone: true}" class="form-control" id="apellido1Prestador" name="apellido1Prestador">
                    </div>

                    <div class="form-group">
                      <label >Segundo Apellido</label>
                      <input type="text" [(ngModel)]="apellido2Prestador" [ngModelOptions]="{standalone: true}" class="form-control" id="apellido2Prestador" name="apellido2Prestador">
                    </div>

                    <div class="form-group">
                      <label >Correo Electronico</label>
                      <input type="text" [(ngModel)]="correoPrestador" [ngModelOptions]="{standalone: true}" class="form-control" id="correoPrestador" name="correoPrestador">
                    </div>

                    <div class="form-group">
                      <label >Banco</label>
                      <select [(ngModel)]="id_banco" [ngModelOptions]="{standalone: true}" id="id_banco" name="id_banco">
                        <option value=1>BANCO DE CHILE</option>
                        <option value=2>BANCO INTERNACIONAL</option>
                        <option value=3>SCOTIABANK CHILE</option>
                        <option value=4>BANCO DE CREDITO E INVERSIONES</option>
                        <option value=5>BANCO BICE</option>
                        <option value=6>HSBC BANK</option>
                        <option value=7>BANCO SANTANDER-CHILE</option>
                        <option value=8>BANCO ITAÚ CHILE</option>
                        <option value=9>BANCO SECURITY</option>
                        <option value=10>BANCO FALABELLA</option>
                        <option value=11>BANCO RIPLEY</option>
                        <option value=12>BANCO CONSORCIO</option>
                        <option value=13>BANCO BTG PACTUAL CHILE</option>
                        <option value=14>JP MORGAN CHASE BANK, N. A.</option>
                        <option value=15>CHINA CONSTRUCTION BANK</option>
                        <option value=16>BANK OF CHINA</option>
                        <option value=17>BANCO ESTADO</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label >Tipo de Cuenta</label>
                      <select [(ngModel)]="tipo_cuenta" [ngModelOptions]="{standalone: true}" id="tipo_cuenta" name="tipo_cuenta">
                        <option value="Cuenta Vista">Cuenta Vista</option>
                        <option value="Cuenta Corriente">Cuenta Corriente</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label >Numero de Cuenta</label>
                      <input type="text" [(ngModel)]="numero_cuenta" [ngModelOptions]="{standalone: true}" class="form-control" id="numero_cuenta" name="numero_cuenta">
                    </div>
    
                    <button type="submit" class="btn btn-primary mt-4" (click)="saveRecordsPrestador()">Guardar</button> &nbsp;
    
                    <button type="submit" class="btn btn-warning mt-4"  (click)="UpdateRecordsPrestador()">Modificar</button>
    
                </form>
            </div>
          </div>
    
          <div id="divPrestador2">
            <div>
                <h1>Lista de Prestadores de Servicios</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombrer</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Correo Electronico</th>
                            <th scope="col">Banco</th>
                            <th scope="col">Tipo de Cuenta</th>
                            <th scope="col">Numero de Cuenta</th>

                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let PrestadorItem of PrestadorArray">
    
                            <td>{{PrestadorItem.rutPrestador}}-{{PrestadorItem.DVPrestador}}</td>
                            <td>{{PrestadorItem.nombrePrestador}}</td>
                            <td>{{PrestadorItem.apellido1Prestador}} {{PrestadorItem.apellido2Prestador}}</td>
                            <td>{{PrestadorItem.correoPrestador}}</td>
                            <td>{{getBankName(PrestadorItem.id_banco)}}</td>
                            <td>{{PrestadorItem.tipo_cuenta}}</td>
                            <td>{{PrestadorItem.numero_cuenta}}</td>
    
                            <td>
                                <button type="button" class="btn btn-success" (click)="setUpdatePrestador(PrestadorItem)">Editar</button>
    
                                <button type="button" class="btn btn-danger" (click)="setDeletePrestador(PrestadorItem)">Borrar</button>
    
                            </td>
                        </tr>
                    </tbody>
    
                </table>
            </div>
          </div>

          <div id="divBoleta" >
            <h1>Agregar Boleta de Honorarios</h1>
            <div class="card">
                <form>
                    <div class="form-group">
                        <label >Rut del Prestador de Servicios</label>
                        <input type="text" [(ngModel)]="rutPrest" [ngModelOptions]="{standalone: true}" class="form-control" id="rutPrest" name="rutPrest">
                    </div>
      
                    <div class="form-group">
                      <label >DV del Prestador de Servicios</label>
                      <input type="text" [(ngModel)]="DVPrest" [ngModelOptions]="{standalone: true}" class="form-control" id="DVPrest" name="DVPrest">
                    </div>
      
                    <div class="form-group">
                      <label >Nombre del Prestador de Servicios</label>
                      <input type="text" [(ngModel)]="nombrePrest" [ngModelOptions]="{standalone: true}" class="form-control" id="nombrePrest" name="nombrePrest">
                    </div>

                    <div class="form-group">
                      <label >Banco</label>
                      <select [(ngModel)]="id_bancoPrest" [ngModelOptions]="{standalone: true}" id="id_bancoPrest" name="id_bancoPrest">
                        <option value=1>BANCO DE CHILE</option>
                        <option value=2>BANCO INTERNACIONAL</option>
                        <option value=3>SCOTIABANK CHILE</option>
                        <option value=4>BANCO DE CREDITO E INVERSIONES</option>
                        <option value=5>BANCO BICE</option>
                        <option value=6>HSBC BANK</option>
                        <option value=7>BANCO SANTANDER-CHILE</option>
                        <option value=8>BANCO ITAÚ CHILE</option>
                        <option value=9>BANCO SECURITY</option>
                        <option value=10>BANCO FALABELLA</option>
                        <option value=11>BANCO RIPLEY</option>
                        <option value=12>BANCO CONSORCIO</option>
                        <option value=13>BANCO BTG PACTUAL CHILE</option>
                        <option value=14>JP MORGAN CHASE BANK, N. A.</option>
                        <option value=15>CHINA CONSTRUCTION BANK</option>
                        <option value=16>BANK OF CHINA</option>
                        <option value=17>BANCO ESTADO</option>
                      </select>
                    </div>
      
                    <div class="form-group">
                      <label >Numero de cuenta</label>
                      <input type="text" [(ngModel)]="numero_cuentaPrest" [ngModelOptions]="{standalone: true}" class="form-control" id="numero_cuentaPrest" name="numero_cuentaPrest">
                    </div>
      
                    <div class="form-group">
                      <label >Correo Electronico</label>
                      <input type="text" [(ngModel)]="correoPrest" [ngModelOptions]="{standalone: true}" class="form-control" id="correoPrest" name="correoPrest">
                    </div>
      
                    <div class="form-group">
                      <label >Numero de Boleta</label>
                      <input type="text" [(ngModel)]="numBoleta" [ngModelOptions]="{standalone: true}" class="form-control" id="numBoleta" name="numBoleta">
                    </div>
      
                    <div class="form-group">
                      <label >Fecha Boleta</label>
                      <input type="text" [(ngModel)]="fechaBoleta" [ngModelOptions]="{standalone: true}" class="form-control" id="fechaBoleta" name="fechaBoleta">
                    </div>
      
                    <div class="form-group">
                      <label >Boleta Adjunta</label>
                      <input type="text" [(ngModel)]="nomBoletaAdjunta" [ngModelOptions]="{standalone: true}" class="form-control" id="nomBoletaAdjunta" name="nomBoletaAdjunta">
                    </div>
      
                    <div class="form-group">
                      <label >Centro de Costo</label>
                      <input type="text" [(ngModel)]="CeCo" [ngModelOptions]="{standalone: true}" class="form-control" id="CeCo" name="CeCo">
                    </div>
                    
                    <button type="submit" class="btn btn-primary mt-4" (click)="saveRecordsBoleta()">Guardar</button> &nbsp;
      
                    <button type="submit" class="btn btn-warning mt-4"  (click)="UpdateRecordsBoleta()">Modificar</button>
      
                </form>
            </div>
          </div>
      
          <div id="divBoleta2">
            <div>
                <h1>Lista de Boletas de Honorarios</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre Prestador</th>
                            <th scope="col">Banco</th>
                            <th scope="col">Numero de Cuenta</th>
                            <th scope="col">Correo Electronico</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Boleta adjunta</th>
                            <th scope="col">Centro de Costo</th>
                            <th scope="col">Nombre Usuario</th>
      
                        </tr>
                    </thead>
      
                    <tbody>
                        <tr *ngFor="let BoletaItem of BoletaArray">
      
                            <td>{{BoletaItem.rutPrest}}-{{BoletaItem.DVPrest}}</td>
                            <td>{{BoletaItem.nombrePrest}}</td>
                            <td>{{BoletaItem.id_bancoPrest}}</td>
                            <td>{{BoletaItem.numero_cuentaPrest}}</td>
                            <td>{{BoletaItem.correoPrest}}</td>
                            <td>{{BoletaItem.fechaBoleta}}</td>
                            <td>{{BoletaItem.nomBoletaAdjunta}}</td>
                            <td>{{BoletaItem.CeCo}}</td>
                            <td>{{BoletaItem.nombreUser}}</td>
      
                            <td>
                                <button type="button" class="btn btn-success" (click)="setUpdateBoleta(BoletaItem)">Editar</button>
      
                                <button type="button" class="btn btn-danger" (click)="setDeleteBoleta(BoletaItem)">Borrar</button>
      
                            </td>
                        </tr>
                    </tbody>
      
                </table>
            </div>
          </div>

          <div id="divRechazado">
            <div>
                <h1>Lista de Boletas Recibidas</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre Prestador</th>
                            <th scope="col">Banco</th>
                            <th scope="col">Numero de Cuenta</th>
                            <th scope="col">Correo Electronico</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Boleta adjunta</th>
                            <th scope="col">Centro de Costo</th>
                            <th scope="col">Nombre Usuario</th>
                            <th scope="col">Estado Boleta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let BoletaItem of BoletaRechazadaArray">
      
                            <td>{{BoletaItem.rutPrest}}-{{BoletaItem.DVPrest}}</td>
                            <td>{{BoletaItem.nombrePrest}}</td>
                            <td>{{BoletaItem.id_bancoPrest}}</td>
                            <td>{{BoletaItem.numero_cuentaPrest}}</td>
                            <td>{{BoletaItem.correoPrest}}</td>
                            <td>{{BoletaItem.fechaBoleta}}</td>
                            <td>{{BoletaItem.nomBoletaAdjunta}}</td>
                            <td>{{BoletaItem.CeCo}}</td>
                            <td>{{BoletaItem.nombreUser}}</td>
                            <td>{{estadoAprobacion(BoletaItem.aprobacion1)}}</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="solucionarBoleta(BoletaItem)">Solucionar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

        </nav>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>