<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="vista-admin.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Administrador</span>
    <span class="navbar-brand mb-0 h1">nombre</span>
    <a class="nav-link" href="#">Cerrar Secion <span class="sr-only">(current)</span></a>
    </nav>

    <div class="container mt-4" >
        <h1>Agregar Usuario</h1>
        <div class="card">
            <form>
                <div class="form-group">
                    <label >Rut</label>
                    <input type="text" [(ngModel)]="rut" [ngModelOptions]="{standalone: true}" class="form-control" id="userut" name="userut">
                </div>

                <div class="form-group">
                    <label >DV</label>
                    <input type="text" [(ngModel)]="DV" [ngModelOptions]="{standalone: true}" class="form-control" id="userDV" name="userDV">
                </div>

                <div class="form-group">
                    <label >nombre</label>
                    <input type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" class="form-control" id="usernombre" name="usernombre">
                </div>

                <div class="form-group">
                    <label >apellido1</label>
                    <input type="text" [(ngModel)]="apellido1" [ngModelOptions]="{standalone: true}" class="form-control" id="userapellido1" name="userapellido1">
                </div>

                <div class="form-group">
                    <label >apellido2</label>
                    <input type="text" [(ngModel)]="apellido2" [ngModelOptions]="{standalone: true}" class="form-control" id="userapellido2" name="userapellido2">
                </div>

                <div class="form-group">
                    <label >nombre_usuario</label>
                    <input type="text" [(ngModel)]="nombre_usuario" [ngModelOptions]="{standalone: true}" class="form-control" id="usernombre_usuario" name="usernombre_usuario">
                </div>

                <div class="form-group">
                    <label >correo</label>
                    <input type="text" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}" class="form-control" id="usercorreo" name="usercorreo">
                </div>

                <div class="form-group">
                    <label >clave</label>
                    <input type="text" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}" class="form-control" id="userclave" name="userclave">
                </div>

                <div class="form-group">
                    <label >id_tipo_usuario</label>
                    <input type="text" [(ngModel)]="id_tipo_usuario" [ngModelOptions]="{standalone: true}" class="form-control" id="userid_tipo_usuario" name="userid_tipo_usuario">
                </div>

                <button type="submit" class="btn btn-primary mt-4" (click)="saveRecords()">Save</button> &nbsp;

                <button type="submit" class="btn btn-warning mt-4"  (click)="UpdateRecords()">Update</button>

            </form>
        </div>
    </div>

    <div>
        <div class="container mt-4" >
            <h1>Lista de Usuarios</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">rut</th>
                        <th scope="col">DV</th>
                        <th scope="col">nombre</th>
                        <th scope="col">apellido1</th>
                        <th scope="col">apellido2</th>
                        <th scope="col">nombre_usuario</th>
                        <th scope="col">correo</th>
                        <th scope="col">clave</th>
                        <th scope="col">id_tipo_usuario</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let UserItem of UserArray">

                        <td>{{UserItem.rut}}</td>
                        <td>{{UserItem.DV}}</td>
                        <td>{{UserItem.nombre}}</td>
                        <td>{{UserItem.apellido1}}</td>
                        <td>{{UserItem.apellido2}}</td>
                        <td>{{UserItem.nombre_usuario}}</td>
                        <td>{{UserItem.correo}}</td>
                        <td>{{UserItem.clave}}</td>
                        <td>{{UserItem.id_tipo_usuario}}</td>

                        <td>
                            <button type="button" class="btn btn-success" (click)="setUpdate(UserItem)">Edit</button>

                            <button type="button" class="btn btn-danger" (click)="setDelete(UserItem)">Delete</button>

                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>